<launch>
    <!-- Include the orbbec_camera launch file -->
    <include file="$(find orbbec_camera)/launch/dabai_dcw.launch" />
    <include file="$(find main_pkg)/launch/main.launch" />
    
    <!-- Launch the get_obs node -->
    <node name="get_obs" pkg="diffusion_policy" type="get_obs.py" output="screen" />
    <!-- <node name="read_status" pkg="all_motor_control" type="read_status.py" output="screen"/> -->
    <!-- <node name="inverse_kinematics" pkg="diffusion_policy" type="inverse_kinematics.py" output="screen" /-->
    <!-- <node name="send_message_control" pkg="all_motor_control" type="send_message_control.py" output="screen"/>  -->
</launch>
