<launch>
  <!-- Declare launch arguments -->
  <arg name="load_robot_description" default="true" />
  <arg name="robot_description" default="robot_description" />

  <!-- Load the robot model -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" textfile="$(find alicia_duo_v5_03)/urdf/alicia_duo_v5_03_tiny.urdf"/>

  <!-- Joint State Publisher GUI for testing -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find leader_arm_driver)/rviz/leader_config.rviz" required="true" />
</launch>
