<launch>
  <!-- Load robot description -->
  <param name="robot_description" textfile="$(find alicia_duo_v5_03)/urdf/v1.urdf" />

  <!-- Load controller configuration -->
  <rosparam file="$(find arm_moveit_v0)/config/ros_controllers.yaml" command="load" />

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="joint_state_controller arm_pos_controller gripper_controller"/>

  <!-- Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Hardware Interface -->
  <node name="alicia_hardware_interface_node" pkg="ros_controller" type="hardware_interface_node" output="screen" />

  <!-- MoveIt -->
  <include file="$(find arm_moveit_v0)/launch/move_group.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  <!-- RViz -->
  <include file="$(find arm_moveit_v0)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find arm_moveit_v0)/config/alicia_rviz.rviz"/>
  </include>

  <!-- Include the calibration result -->
  <include file="$(find easy_handeye)/launch/publish.launch">
    <arg name="namespace_prefix" value="Alicia_usb_handeyecalibration"/>
  </include>

</launch>